

{% extends 'base.html' %}

{% block script %}
<script>
    function fn1(){
        window.location="s1";
    }
</script>
{% endblock %}

{% block headline %}

<p class="t_note">
    Welcome to the game introduction!<br>
    Please use this page to familiarize yourself with the game interface and plan your route in advance, 
    making it easier when the timer is running in the actual game. <br><br>
    Your task is to navigate the metro lines from station <b>Giles Town</b> to <b>Condy Vale</b>.<br>
    You will depart from Giles Town at 8:30, and must reach Condy Vale before 9:00 for an important meeting. 
    <br>
    Please calculate your time carefully and avoid unnecessary detours to ensure you arrive in time. 
<br><br>
    At each station, you will have 90 seconds to make a decision. <br>After selecting your choice and clicking "Continue", 
    you will be led to the next station. <br>The clock time will increase according to your selection,
    but the 90-seconds decision time will not affect the clock. 

    <br><br>
    There might be situations happening in the process, stay alert, it is part of the game. 

    <br><br>
    How to win this game?
    <br>
    &nbsp;&nbsp;&nbsp;Arrive at Condy Vale before 9:00.

    <br><br>
    How might you lose this game?<br>
    &nbsp;&nbsp;&nbsp;Failing to arrive at Condy Vale by 9:00. <br>
    &nbsp;&nbsp;&nbsp;Taking more than 90 seconds to make a decision at any station.

</p>


{% endblock %}

{% block top_block %}

<p class="t_note">
    Here shows your goal staion, current station, current clock time, and the time you have left to make an 
    action.<br>
    The current station and clock time will change according to your action. <br>
     
</p>
Goal Station:   CONBY VALE
<br><br>

<div>
    Current station: <span style="border: 1px solid #000; padding: 5px; padding-left: 3%;padding-right: 3%;border-radius: 3px;">{{ station | upper }}</span>
</div>
<br>
<div>
    Clock Time: <span style="border: 1px solid #000; padding: 5px; border-radius: 3px;padding-left: 3%;padding-right: 3%;">{{current_time}}</span>
</div>
<br>
<div>
    Time left to make an action: 
    <span id="timer" style="border: 1px solid #000; padding: 5px; border-radius: 3px;padding-left: 3%;padding-right: 3%;">90</span> seconds
</div>
{% endblock %}



{% block left_block %}
<p class="t_note">
    Here is the metro map for you to design your trip. <br>
    In this game, the time cost for metro transfers is not considered. 
</p>
<p class="t_map">    
    It takes 2 mins between each Blue Line station. <br>
    It takes 3 mins between each Red Line station. <br>
    It takes either 4 or 7 mins between each Yellow Line station (marked on the map). <br>
</p>


<br>
<div class="container">
    <img src="{{ url_for('static', filename='img/map.jpg') }}" alt="Example Image" style="width: 90%;">
</div>

{% endblock %}

{% block right_block %}
<p class="t_note">
    Here you can choose your action, it will lead you to the next station, and the clock time will increase accordingly. 
    <br>The available choices would be in its metro color, while the unavailable ones would be in grey. 
    <br>Your selected action would change from white text to black text.

    </p>
    <div class="form-action">
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <p>Please select your action and continue:</p>
        {% for subfield, choice in zip(form.action, choices) %}
            <div class="radio">
                {{ subfield(disabled=not choice[2], id=subfield.id, class_="colored-radio " + choice[0]) }}
                <label for="{{ subfield.id }}" class="colored-label {{ choice[0] }}">
                    {{ choice[1] | safe }}
                </label>
            </div>
        {% endfor %}
    


    </form>
    </div>
    <br>
<p class="t_note">
    If you have understood everything, please click the button "Continue" to access the game. All the notes in the box will disappear there. 


</p>


<br>
<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>

{% endblock %}

{% block continue %}

{% endblock %}
