{% extends 'base.html' %}

{% block script %}
<script>
    
    function fn1(){
        window.location="emo";
    }
    function preventBack() { window.history.forward(); }  
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null }; 

</script>
{% endblock %}


{% block  top_block%}

<p class="t_title">
    <br><br>
    I'm sorry, you have chosen the wrong route and have failed the task. <br>
    Please continue to fill the questionnaire.   
<br></p><br>
<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>
{% endblock %}